svg{
    animation: changeColor infinite;
    animation-duration: 30s;
}

svg:hover{
    animation-duration: .1s;
}

svg:hover polygon{
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: .1s;
    transform-origin: center;
}

svg:hover #second{
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transform-origin: center;
    animation-direction: reverse;
}



 @keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes changeColor{
    0%{
    }
    10%{
        background-color: purple;
    }
    20%{
        background-color: blueviolet;
    }
    30%{
        background-color: yellow;
    }
    40%{
        background-color: red;
    }
    50%{
        background-color: brown;
    }
    60%{
        background-color: blue;
    }
    70%{
        background-color: gold;
    }
    80%{
        background-color: black;
    }
    90%{
        background-color: pink;
    }
    100%{
        background-color: green;
    }
} 